/* GENERAL STRUCTURE */

.wrapper {
  position: relative;
  min-height: 100vh;
}

.wrapper__header {

}

.wrapper__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.wrapper__footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* HEADER */
.main-logo-title {
  cursor: pointer;
}

/* VACANCY_DATA */

.vacancy-card {
  margin-bottom: 1.5rem;
  width: 100%;
  /* !important плохо, ну а что еще делать, когда нужно переопределить вшитые стили ui библиотеки */
  min-height: 300px !important;
  height: 30vh;
}

