{% extends 'base.html' %}
{% load static %}

{% block styles %}
<script src="{% static 'highcharts/highstock.js' %}"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block left-menu %}
LEFT-MENU
{% endblock %}

{% block main-content %}

<div id="container-langs">
    <input type="hidden" id="langs" value="{{ langs }}">
    <canvas id="langs-chart"></canvas>
    <script>
        const languageDynamicChart = document.getElementById('langs-chart');
        const languageData = JSON.parse(document.getElementById('langs').value)
        console.log(Object.keys(Object.values(languageData)[0]))
        console.log(languageData)
        let languageDates = Object.keys(languageData)

        let python_ = []
        let javaScript_ = []
        let csharp_ = []
        let php_ = []
        
        let data_sets = []

        for (let i = 0; i < languageDates.length; i++) {
            python_.push(Object.values(languageData)[i].Python)
            javaScript_.push(Object.values(languageData)[i].JavaScript)
            csharp_.push(Object.values(languageData)[i].Csharp)
            php_.push(Object.values(languageData)[i].php)
        }

        const lastValues = Object.values(languageData)[Object.values(languageData).length - 1]
        const lastValuesSorted = Object.keys(lastValues).sort(function (a, b) { return lastValues[a] - lastValues[b] })

        const pythonDataSet = {
            innerName: 'Python',
            tension: 0.3,
            fill: true,
            backgroundColor: '#4cceac99',
            label: 'Python',
            data: python_,
            borderWidth: 1,
            borderColor: '#4cceac',
            pointStyle: false
        }
        const javaScriptDataSet = {
            innerName: 'JavaScript',
            tension: 0.3,
            fill: true,
            backgroundColor: '#ff6f5999',
            label: 'JavaScript',
            data: javaScript_,
            borderWidth: 1,
            borderColor: '#ff6f59',
            pointStyle: false
        }
        const phpDataSet = {
            innerName: 'php',
            tension: 0.3,
            fill: true,
            backgroundColor: '#007bff99',
            label: 'PHP',
            data: php_,
            borderWidth: 1,
            borderColor: '#007bff',
            pointStyle: false
        }
        const csharpDataSet = {
            innerName: 'Csharp',
            tension: 0.3,
            fill: true,
            backgroundColor: '#6f42c199',
            label: 'C#',
            data: csharp_,
            borderWidth: 1,
            borderColor: '#6f42c1',
            pointStyle: false
        }

        const list = [pythonDataSet, javaScriptDataSet, phpDataSet, csharpDataSet]

        for (let i = 0; i < lastValuesSorted.length; i++) {
            for (let j = 0; j < list.length; j++) {
                if (lastValuesSorted[i] == list[j].innerName) {
                    data_sets.push(list[j])
                }
            }
        }

        let langsChart = new Chart(languageDynamicChart, {
            type: 'line',
            data: {
                labels: languageDates,
                datasets: data_sets,
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Динамика популярности языков программирования на основе статистики открытых вакансий'
                    },
                },
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        grid: {
                            display: true,
                        }
                    },
                    x: {
                        beginAtZero: true,
                        grid: {
                            display: true,
                        }
                    },
                }
            }
        });
    </script>
</div>
<div id="container-profs">
    <canvas id="profs-chart"></canvas>
    <input type="hidden" id="profs" value="{{ profs }}">
    <script>
        const profsDynamicChart = document.getElementById('profs-chart');
        
        let colors = ['#4cceac99', '#6f42c199', '#007bff99', '#ff6f5999']
        let data = JSON.parse($('#profs').val())
        let profs_data_sets = []
        let color_index = 0
        for (let i = 0; i < data.profs.length; i++){
            if (color_index >= colors.length - 1){
                color_index = 0
            } else {
                color_index += 1
            }
            console.log(color_index)
            profs_data_sets.push(
                {
                    tension: 0.3,
                    fill: true,
                    backgroundColor: colors[color_index],
                    label: Object.keys(data.profs[i])[0],
                    data: data.profs[i][Object.keys(data.profs[i])[0]],
                    borderWidth: 1,
                    pointStyle: false
                }
            )
        }
        let profsChart = new Chart(profsDynamicChart, {
            type: 'line',
            data: {
                labels: data.labels,
                datasets: profs_data_sets,
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Динамика востребованности профессий на основе статистики открытых вакансий'
                    },
                },
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        grid: {
                            display: true,
                        }
                    },
                    x: {
                        beginAtZero: true,
                        grid: {
                            display: true,
                        }
                    },
                }
            }
        });
    </script>
</div>

{% endblock %}